*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	margin-left: 100px;
}
.interior_craft_paragrap{
	display: inline-block;
	font-family: 'Dancing Script', cursive;
}
.icon{
	width: 50px;
	margin-bottom: 10px;
}
li{
	display: inline-block;
	margin-left: 30px;
	padding-left: 150px;
	font-family: 'Fjalla One', sans-serif;
}
.search_icon{
	width: 30px;
	margin-left: 1250px;
}
.bag_icon{
	width: 30px;
}
.icone_container{
	margin-bottom: -20px;
}
.build{
	width: 1300px;

}
.box{
	position: relative;
}
.title{
	position: absolute;
	color:#805050;
	bottom: 380px;
	font-size: 60px;
	padding-left: 200px;
}
h1{
	font-family: 'Dancing Script', cursive;
}
.info{
	color:#805050;
	font-size: 30px;
	position: absolute;
	margin-left: 60px;
}
button{
	width: 140px;
	height: 60px;
	margin-left: 280px;
	margin-top: 50px;
	font-size: 17px;
}
h2{
	font-size: 60px;
	padding-top: 50px;
	font-family: 'Dancing Script', cursive;
}
.paragrap_style{
	width: 500px;
	font-size: 25px;
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
}
.design_foto{
	width: 450px;
	margin-left: 170px;
	border-radius: 20px;
}
.wallpapper_div{
	display: inline-block;
}
.wallpapper{
	height: 240px;
	width: 240px;
	border-radius: 20px;
}
.paragrap_style1{
	width: 200px;
	font-size: 20px;
	padding-top: 30px;
	color: #0E0E0E;
	font-family: 'Fjalla One', sans-serif;
}
.wallpapper_div{
	display: inline-block;
	margin-top: 60px;
	margin: 30px;
}
h3{
	font-size: 30px;
	padding-top: 40px;
	color: #966565;
	font-family: 'Dancing Script', cursive;
}